
.tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  h3 {
    background-color: #e4e9fd;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    font-weight: 600;
  }
  .tab-content {
    background-color: #ffffff;
    padding: 50px 40px;
  }
  .tab-content h4 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #000224;
    font-weight: 600;
  }
  .tab-content p {
    text-align: justify;
    line-height: 1.9;
    letter-spacing: 0.4px;
    color: #202238;
  }
  .tab-content div {
    display: none;
  }
  .tab-content .active {
    display: block;
  }
  .tabs .active {
    background-color: #ffffff;
    color: #4d5bf9;
  }
  